.App-logo {
  animation: App-logo-spin infinite 1s ease-in-out;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #D6F272;
  height: 100vh
}

header {
  background-color: #5D8C2E;
  color: #EFF299;
}

.p-image-card {
  text-align: center;
  border: 1px solid #5D8C2E;
  border-radius: 5px;
  width: 44%;
  margin: 0 3%;
}

.p-image-card:hover {
  background-color: rgba(93, 140, 46, 0.315)
}

.selected-poke-name {
  text-transform: capitalize;
}