.App-logo {
  animation: App-logo-spin infinite 1s ease-in-out;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #d6f272;
  height: 100vh;
}

header {
  background-color: #5d8c2e;
  color: #eff299;
}

.p-image-card {
  text-align: center;
  border: 1px solid #5d8c2e;
  border-radius: 5px;
}

.p-image-card:hover {
  background-color: rgba(93, 140, 46, 0.315);
}

.p-image {
  pointer-events: none;
}

.selected-poke-name {
  text-transform: capitalize;
}

.no-click {
  pointer-events: none;
}